@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #2c3a4f;

  --color-card: #ffffff;
  --color-card-foreground: #2c3a4f;

  --color-popover: #ffffff;
  --color-popover-foreground: #2c3a4f;

  --color-primary: #0000ff;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #800080;

  --color-secondary: #e3e8f2;
  --color-secondary-foreground: #2c3a4f;

  --color-muted: #f0f5fa;
  --color-muted-foreground: #8c9ab3;

  --color-accent: #f7fbff;
  --color-accent-foreground: #4a6fff;

  --color-destructive: #ff4d4d;
  --color-destructive-foreground: #ffffff;

  --color-success: #2ca65d;
  --color-success-foreground: #ffffff;

  --color-border: #e3e8f2;
  --color-input: #e3e8f2;
  --color-ring: #4a6fff;

  --color-sidebar-background: #4a6fff;
  --color-sidebar-foreground: #ffffff;
  --color-sidebar-primary: #ffffff;
  --color-sidebar-primary-foreground: #4a6fff;
  --color-sidebar-accent: #4462e5;
  --color-sidebar-accent-foreground: #ffffff;
  --color-sidebar-border: #4462e5;
  --color-sidebar-ring: #ffffff;

  --color-radius: 0.75rem;
  --transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-card: 0 1px 3px 0 rgba(44, 58, 79, 0.1),
    0 1px 2px -1px rgba(44, 58, 79, 0.1);
  --shadow-hover: 0 4px 6px -1px rgba(44, 58, 79, 0.1),
    0 2px 4px -2px rgba(44, 58, 79, 0.1);
}
